renderer:
{
    resolution = { width = 400; height = 400; };
    backgroundColor = { r = 50; g = 50; b = 50; };
};

camera:
{
    position = { x = 0; y = 0; z = 0; };
    fieldOfView = 70;
};

primitives:
{
    triangles = (
        # Front-Left face
        {
            v0 = { x = 0.0; y = -1.0; z = 3.0; };
            v1 = { x = -1.0; y = -1.0; z = 4.0; };
            v2 = { x = 0.0; y = 1.0; z = 4.0; };
            color = { r = 255; g = 0; b = 0; };
        },
        # Front-Right face
        {
            v0 = { x = 1.0; y = -1.0; z = 4.0; };
            v1 = { x = 0.0; y = -1.0; z = 3.0; };
            v2 = { x = 0.0; y = 1.0; z = 4.0; };
            color = { r = 255; g = 0; b = 0; };
        },
        # Back-Right face
        {
            v0 = { x = 0.0; y = -1.0; z = 5.0; };
            v1 = { x = 1.0; y = -1.0; z = 4.0; };
            v2 = { x = 0.0; y = 1.0; z = 4.0; };
            color = { r = 255; g = 0; b = 0; };
        },
        # Back-Left face
        {
            v0 = { x = -1.0; y = -1.0; z = 4.0; };
            v1 = { x = 0.0; y = -1.0; z = 5.0; };
            v2 = { x = 0.0; y = 1.0; z = 4.0; };
            color = { r = 255; g = 0; b = 0; };
        }
    );
};

lights:
{
    directional = (
        { direction = { x = 1; y = 0.0; z = -2.0; }; intensity = 1.0; }
    );
};