renderer:
{
    resolution = { width = 612; height = 373; };
    background = "sky";
};

camera:
{
    position = { x = 0; y = 0; z = 0; };
    fieldOfView = 72.0;
};

materials:
{
    lambertian = (
    );
    texture = (
        { name = "sky"; filepath = "texture/sky.jpg"; }
    );
    transparency = (
        {
            name = "glass";
            color = { r = 255; g = 255; b = 255; };
            transparency = 0.7;
            refractiveIndex = 0.5;
        }
    );
}

primitives:
{
    planes = (
        {
            position = { x = 0; y = -1; z = 0; };
            rotation = { x = 10; y = 0.0; z = 0.0; };
            material = "glass";
        }
    );

    boxes = (
        {
            position = { x = -0.5; y = -0.5; z = 1; };
            dimension = { x = 1; y = 1; z = 1; };
            material = "glass";
        }
    );
};

lights:
{
    # ambient = 1

    directional = (
        { direction = { x = 1.0; y = 1.5; z = -0.5; }; intensity = 0.7; },
    );
};
